<div id="recent">
	<%= image_tag '/images/recent.jpg', :alt => 'Recent', :width => '732', :heigth => '488' %>
    <div id="recent_text">
	    <h3>Latest</h3>
	    <h2>Algavre</h2>
	    <p>Spent my last holiday in algarve, south of portugal. It’s an amazing place, kinda rough with big rocky mountains in front of the ocean.</p><p>It’s the ideal place to get a caravan and spend the whole summer living on the beach. And a lot of people do.</p>
	    <p><a href="#" class="fb_share">Share</a></p>
    </div>
</div>