<div id="fb-root"></div>
<div id="share_panel_top">
<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget"><fb:like send="false" layout="box_count" width="55" show_faces="false" font="arial"></fb:like></div>  
<div class="twitter-share-button-container"> 
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical" data-text="<%= @title %> by Tripping">Tweet</a>
</div>
<div class="gplus-container"><g:plusone size="tall"></g:plusone></div>
</div>
<div id="share_panel_bottom"></div>

