<% content_for :body_class, '' %>
<%= render 'shared/header' %>
<div id="photos_container">
	<div id="photos_header">
	    <h2><%= @title %></h2>
	</div>
	<%= render :partial => 'photo', :collection => @photos %>
</div>
<%= will_paginate @photos %>

  <script type="text/javascript" charset="utf-8">
    $(function() {
		$(document).endlessScroll({
			bottomPixels: 500,
			fireDelay: 10,
			callback: function(i) {
			  loading=true;
			  $.ajax({
					url: '/photosets/49?page=' + i,
					type: 'get',
					dataType: 'script',
					success: function() {
						loading=false;
					}
				});
			};
		});
     };
  </script>