<% content_for :body_class, '' %>
<%= render 'shared/header' %>
<div id="photos_container">
	<div id="photos_header">
	    <h2><%= @title %></h2>
	</div>
	<%= render :partial => 'photo', :collection => @photos %>
</div>
<%= will_paginate @photos %>
<script>
  $('#photos_container').infinitescroll({
 
    navSelector  : "div.pagination",            
                   // selector for the paged navigation (it will be hidden)
    nextSelector : "div.pagination a.next_page",    
                   // selector for the NEXT link (to page 2)
    itemSelector : "#photos_container div.photo",          
                   // selector for all items you'll retrieve
    loadingText  : "Hang on, loading more photos...",      
                 // text accompanying loading image
                 // default: "<em>Loading the next set of posts...</em>"
    donetext     : "I think we've hit the end, Jim"
                 // text displayed when all items have been retrieved
                 // default: "<em>Congratulations, you've reached the end of the internet.</em>"
  });
</script>