<div id="header">
	<a id="logo" href="/">Tripping</a>
	<ul id="menu">
		<li><%= link_to "Sets", :admin, :class => "sets" %></li>
		<li><%= link_to "Blog", "http://www.tumblr.com/blog/iamtripping" %></li>
	</ul>
</div>