<div id="header">
	<a id="logo" href="/">Tripping</a>
	<ul id="menu">
		<li><a class="sets_admin" href="index.html">Sets</a></li>
		<li><a class="blog_admin" href="#">Blog</a></li>
		<li><a class="about_admin" href="#">Categories</a></li>
	</ul>
</div>