<div class="thumbs">
	<%= link_to(more_photoset) do %>
		<div class="img_container" style="background:url(<%= more_photoset.flickr_thumb_url %>) no-repeat">
		<img class="gray" src="<%= more_photoset.flickr_thumb_url %>" alt="thumb1" />
		</div>
		<%= more_photoset.name %>
	<% end %>
</div>