<div class="thumbs">
	<%= link_to(photoset) do %>
		<div class="img_container">
		<%= image_tag "/proxy?url=#{photoset.flickr_thumb_url}", :class => "gray" %>
		</div>
		<%= photoset.name %>
	<% end %>
</div>