<div id="recent">
	<div id="img_recent"><%= image_tag @post['photo_url'][0], :alt => 'Recent' %></div>
    <div id="recent_text">
	    <h3>Latest</h3>
	    <%= link_to wrap(@post['photo_caption']), @post['url_with_slug'] %>
    </div>
</div>