<div id="recent">
	<div id="img_recent"><%= image_tag @post.image_url, :alt => 'Recent' %></div>
    <div id="recent_text">
	    <h3>Latest</h3>
	    <h2><a href="/blog"><%= @post.title %></a></h2>
	    <p><a href="/blog"><%= wrap(@post.content) %></a></p>
	    <% unless @post.photoset_id.nil? %>
			<p><%= link_to "go check the pictures", photoset_path(@post.photoset_id), :class => "link_photoset" %></p>
		<% end %>
    </div>
</div>