<% content_for :body_class, 'about' %>
<%= render 'shared/header' %>
<div id="about_container">
	<div class="about_header">
		<h2>Am I tripping?</h2>
	</div>
	<p>Tripping is about getting out of the daily routine. It’s when I let the curiosity decide where to go next and take a camera with me.</p>
	<p></p>
	<div class="about_header">
		<h2>About me</h2>
	</div>
	<p>I'm a Brazilian <a href="http://www.gvdias.com" target=blank>Art Director</a> who came for a trip around Europe and ended up staying. Currently I <a href="http://www.gvdias.com" target=blank>work</a> and live in Germany.</p>
	<p><a href="mailto:sayhey@iamtripping.com?subject=Hey">hey@iamtripping.com</a></p>
	<p><a href="http://www.flickr.com/gugavieira">Flickr</a></p>
	<p><a href="http://www.twitter.com/gugavieira">@gugavieira</a></p>

</div>
<div id="quote">
	<blockquote><span>The journey is the destination.</span></blockquote>
	<cite>- <a href="http://www.amazon.com/Journey-Destination-Journals-Dan-Eldon/dp/1452102503/ref=sr_1_1_title_0_main?s=books&ie=UTF8&qid=1323381999&sr=1-1" target=blank>The Journals of Dan Elton</a></cite>
</div>
<div id="thumb_container">
     <%= render :partial => 'photoset', :collection => @photosets[0..11] %>
     <% if @photosets[12..-1] %>
     	<%= render :partial => 'more_photoset', :collection => @photosets[12..-1] %>
     <% end %>
</div>
