<% if object.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(object.errors.count, "error") %>
      found on your <%= object.class.to_s.underscore.humanize.downcase %>:
    </h3>
    <p><ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul></P>
  </div>
<% end %>