<div class="post">
	<div class="post_header">
    	<h2><%= post.title %></h2>
	</div>
	<div class="image_container"><%= image_tag post.image_url, :alt => post.title %></div>
	<p><%= sanitize(post.content, :tags => %W(b strong i em p br)) %></p>
	<% unless post.photoset_id.nil? %>
		<p><%= link_to "go check the pictures", photoset_path(post.photoset_id), :class => "link_photoset" %></p>
	<% end %>
</div>