<div id="posts_side_bar">
	<%= link_to image_tag('/images/rss_icon.png', :alt => "RSS"), '/blog', :id => "rss_link" %>
	<h2>categories:</h2>
	<ul>
		<li>Travel</li>
		<li>Experiments</li>
		<li>Europe</li>
		<li>Brasil</li>
		<li>Collections</li>
	</ul>
</div>