/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require font-face
 * require_tree . 
*/

/* GLOBAL */

body {
 /*background-repeat: no-repeat;
 background-position: center top;
 background-image: url(bgguide.png);*/
 background-color: #1a1a1a;
 text-align: left; 
 font-family: PNovaRegular, helvetica, arial, sans-serif; 
 line-height: 18px;
 font-size: 14px;
 color: #999999;
}

body.home #menu a.home{
    border-bottom:2px solid white;
}

body.blog #menu a.blog{
    border-bottom:2px solid white;
}

body.about #menu a.about{
    border-bottom:2px solid white;
}

p {
   padding-bottom: 18px; 
}

a{
 color: #999999;
 text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 18px;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

#container{
    width: 978px;
    margin: auto;
    padding-bottom: 30px;
    overflow: hidden;
}

#header {
    margin-top: 64px;
    overflow: hidden;
}

#logo {
	display:block;
    position: relative;
    /*left: -23px;*/
    margin-right: 23px;
	width:280px;
	height:95px;
	text-indent:-9999px;
	background:url(../images/tripping_logo.png) no-repeat;
    float: left;

}

#menu a{
    font-family: PNovaCondRegular, helvetica, arial, sans-serif;
    display: block;
    color: white;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin: 68px 16px 0 0;
}

#menu a:hover {
        border-bottom:2px solid white;
        text-decoration: none;
}

#menu li {
    float: left;
}



/* #########  PHOTOS PAGE ################# */

#photos_container {
    margin-top: 37px;
}

#photos_header {
    padding: 16px 0 0 16px;
    background: url(../images/corner.png) no-repeat top left;
    overflow: hidden;
}

#photos_header h2 {
    float:left;
}

#photos_header a.fb_share{
    float:right;
}

#photos_header a.slideshow_link {
    height: 18px;
    padding-left: 24px;
    margin-left: 27px;
    background: url(../images/slideshow_icon.png) no-repeat left center;
    text-transform: uppercase;
    float:right;
}

.photo img {
    display: block;
    max-width: 978px;
    max-height: 683px;
}

.photo {
    margin: 0 16px 16px 0;
    float: left;
}

.pagination{
    clear: both;
}


/* #########  BLOG POSTS ################# */

#posts_container {
    width: 732px;
    margin-top: 37px;
    float: left;
    overflow: hidden;    
}

#posts_side_bar {
    width: 211px;
    float: left;
    margin: 89px 0 0 34px;
}

.post {
    margin-bottom: 36px;
}

.post_header {
    padding: 16px 0 0 16px;
    background: url(../images/corner.png) no-repeat top left;
}

.post .image_container {
    width: 732px;
    /*height: 488px;*/
    overflow: hidden;
    margin-bottom: 16px;
}

.post .image_container img {
    width: 100%;
}

#rss_link {
    width: 41px;
    display: block;
    margin-bottom: 18px;
}

/* #########  ABOUT  ################# */

#about_container {
    /*width: 732px;*/
    width: 483px;
    margin: 37px 0 36px 0;
    float: left;
    overflow: hidden; 
}

#about_container p {
    padding-left: 16px;
}

.about_header {
    padding: 16px 0 0 16px;
    background: url(../images/corner.png) no-repeat top left;
}

blockquote {
    background-image: url(../images/open_quote.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 3px 35px 0 35px;
    height: 22px;
    font-family: PNovaSemibold;
    font-size: 18px;
    text-transform: uppercase;
}

blockquote span{
    background-image: url(../images/close_quote.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 22px;
    padding: 0 35px 0 0;
    
}

cite {
    padding-left: 29px;
}

#quote {
    float: right;
    margin: 37px 0 18px 0;
    padding-top: 130px;
}

body.about #thumb_container {
    border-top: 1px solid #999999;
}


/* #########  HOME  ################# */

a.link_photoset {
    display: block;
    height: 18px;
    padding-left: 24px;
    background: url(../images/photo_icon.png) no-repeat left center;
    text-transform: uppercase;
}

#recent {
    overflow: hidden;
    margin-top: 37px;
}

#img_recent {
    width: 732px;
    height: 488px;
    overflow: hidden;
    float: left;
}

#img_recent img {
    width: 100%;
}

#recent_text {
    width: 210px;
    float: right;
    background: url(../images/corner.png) no-repeat top left;
    padding: 16px 0 0 14px;
}

a.fb_share {
    display: block;
    height: 18px;
    padding-left: 24px;
    background: url(../images/fb_icon.png) no-repeat left center;
    text-transform: uppercase;
}

#thumb_container{
    clear: both;
    margin-left: -6px;
    padding-top: 31px;
    overflow: hidden;
}

.thumbs{
    width: 240px;
    float: left;
    margin: 0 0 16px 6px;
}

.img_container {
    height: 160px;
    margin-bottom: 5px;
}

.thumbs img{
    max-height: 160px;
}

.thumbs a{
    text-transform: uppercase;
    font-size: 12px;
}

.thumbs .thumbs_others {
    display: block;
    width: 240px;
    height: 16px;
    background-color: #151515;
}

.thumbs a:hover .img_container img {
    visibility: hidden;
}